@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-delay {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

.font {
  font-family: "Source Code Pro", monospace;
}

body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
  background-color: rgb(240 241 253);
  font-family: "Poppins", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

textarea::-webkit-scrollbar {
  display: none;
}

h3.text-4xl.font-bold {
  line-height: 3.2rem !important;
}

@media screen and (min-width: 1280px) {
  h3.text-4xl.font-bold {
    line-height: 4rem !important;
  }
}

.image-container:hover > .delete-button {
  display: flex;
}

.toggle-input {
  display: none;
}

.toggle-button {
  width: 40px;
  height: 20px;
  background-color: #a1b1c4;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s;
}

.toggle-switch {
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 4px;

  transition: all 0.3s;
}

.toggle-input:checked + .toggle-button {
  background-color: #0d1b2a;
}

.toggle-input:checked + .toggle-button .toggle-switch {
  transform: translateX(18px);
}

.masonry {
  columns: 300px;
  column-gap: 10px;
}

.fade-top {
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}
